//header component
$header_color: #171F39;
$header_button_color: #EBE9E7;
$header_background-color: #F7F5F4;
$header_button_background-color: #FF3620;

//home component
$color: white;
$background-color_1: #F7F5F4;
$background-color_2: #FFFFFF;
$background-color_3: #F4F2F1;
$background-color_4: #00cc00;

//home search component
$search_color: white;
$search_background-color_1: #ffffff;
$search_background-color_2: inherit;
$search_background-color_3: #F63622;